.big-bottom-margin {
  margin-bottom: 75px;
}

.bold {
  font-weight: bold;
}

.border {
  border: solid black;
}

.btn {
  background-color: cornflowerblue;
}

#learnTheAnswer {
  display: none;
}

.small-bottom-margin {
  margin-bottom: 25px;
}